<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
                        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="PSTreeNode">
    <resultMap id="PSTreeNodeResult" type="org.pssframework.model.psmanage.PSTreeNode" />
    
    <sql id="TgNodesSQL">
        <![CDATA[
        select 'TG' as treeNodeType, T.TG_ID as treeNodeId, T.TG_NAME as treeNodeName
          from G_TG T
          where T.TG_ID = #{tgId}
          order by T.TG_NAME
        ]]>
    </sql>
    
    <sql id="TerminalNodesSQL">
        <![CDATA[
        select 'TERM' as treeNodeType, T.TERM_ID as treeNodeId, T.LOGICAL_ADDR as treeNodeName
          from C_TERMINAL T, C_TERM_OBJ_RELA R
         where T.TERM_ID = R.TERM_ID
           and R.OBJ_TYPE = '2'
           and R.OBJ_ID = #{tgId}
         order by T.LOGICAL_ADDR
        ]]>
    </sql>
    
    <sql id="PsNodesSQL">
        <![CDATA[
        select 'PS' as treeNodeType, T.PS_ID as treeNodeId, T.PS_NAME as treeNodeName
          from C_PS T, C_GP G
         where G.GP_ID = T.GP_ID
           and T.TERM_ID = #{termId}
         order by G.GP_SN
        ]]>
    </sql>
    
    <!-- 查询台区节点 -->
    <select id="getTgNodesByTgId" parameterType="java.lang.Long" resultMap="PSTreeNodeResult">
        <include refid="TgNodesSQL" />
    </select>
    
    <!-- 查询终端节点 -->
    <select id="getTerminalNodesByTgId" parameterType="java.lang.Long" resultMap="PSTreeNodeResult">
        <include refid="TerminalNodesSQL" />
    </select>
    
    <!-- 查询终端节点 -->
    <select id="getPsNodesByTermId" parameterType="java.lang.Long" resultMap="PSTreeNodeResult">
        <include refid="PsNodesSQL" />
    </select>
</mapper>