@CHARSET "UTF-8";
html {
	background-color: #006766;
}
body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
	background-color: #006766;
    overflow: auto;
    scrollbar-3dlight-color: #8cb6e7;
    scrollbar-arrow-color: #46617f;
    scrollbar-base-color: #CFCFCF;
    scrollbar-darkshadow-color: #FFF;
    scrollbar-face-color: #ebf4fe;
    scrollbar-highlight-color: #ebf4fe;
    scrollbar-shadow-color: #8cb6e7;
}
table, td, div, h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    word-break: break-all; word-wrap: break-word;
}
    
a:link { color: #333; text-decoration: none; }
a:visited { color: #333; text-decoration: none; }
a:active { color: #333; text-decoration: none; }
a:hover { color: #333; text-decoration: underline; }

/* share code */
em { font-style: normal; }
ul { margin: 0; padding: 0; }
ul, li { list-style-type: none; }
hr { height: 1px; color: #ccc; border: 0; border-top: #aaa 1px dotted; margin: 8px 0 8px 0; }
img { border: 0; }
form { margin: 0; padding: 0; }
.botline { background: url(../img/botline.gif) repeat-x; height: 1px; }
.ls { text-decoration: line-through; }

/* font style */
.font10 { font-size: 10px; }
.font14 { font-size: 14px; }
.font16 { font-size: 16px; }
.font18 { font-size: 18px; }
.font24 { font-size: 24px; }
.font30 { font-size: 30px; }
.b { font-weight: bold; }
.i { font-style: italic; }
.u { text-decoration: underline; }
.delline { text-decoration: line-through; }

/* color */
.white { color: #fff; }
.white a:link { color: #fff; text-decoration: none; }
.white a:visited { color: #fff; text-decoration: none; }
.white a:active { color: #fff; text-decoration: none; }
.white a:hover { color: #fff; text-decoration: underline; }

.orange { color: #ff7200; }
.red { color: #ff0000; }

/* padding margin text-align line-height */
.tc { text-align: center; }
.tr { text-align: right; }
.tl { text-align: left; }
.fl { float: left; }
.fr { float: right; }

.pad5 { padding: 5px; }
.pad10 { padding: 10px; }
.pad15 { padding: 15px; }
.pad20 { padding: 20px; }
.pad25 { padding: 25px; }
.pad30 { padding: 30px; }
.pl25 { padding-left: 25px; }
.pt5 { padding-top: 5px; }

.lh15 { line-height: 15px; }
.lh16 { line-height: 16px; }
.lh17 { line-height: 17px; }
.lh18 { line-height: 18px; }
.lh19 { line-height: 19px; }
.lh20 { line-height: 20px; }
.lh25 { line-height: 25px; }
.lh30 { line-height: 30px; }

.mgt5 { margin-top: 5px; }
.mgt10 { margin-top: 10px; }
.mgt15 { margin-top: 15px; }
.mgt20 { margin-top: 20px; }
.mgt25 { margin-top: 25px; }
.mgt30 { margin-top: 30px; }
.mgt50 { margin-top: 50px; }
.mgl5 { margin-left: 5px; }
.mgr10 { margin-right: 10px; }

/* css hack */
.cb { clear: both; }
.autoh { height: 100%; overflow: auto; }
.disinline { display: inline; }

/* cut character string */
.cut_char { width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/* forms */
input {
    border: 1px inset;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding-left: 5px;
}
    
textarea {
    border: 1px #949aa0 solid;
    font-size: 12px;
    background: #fff;
    color: #666;
}

select {
    border: 1px inset;
    font-size: 12px;
    background: #fff;
    height: 20px;
    color: #666;
}

.input_nostyle { border: 0; height: 13px; vertical-align: middle; width: 13px; background: none; }

.warp { width: 1004px; margin: 0 auto; }
.login_bg { background: url(../img/login_bg.jpg) no-repeat; height:648px; padding:120px 120px 0 152px; }
.login_bglogin { background: url(../img/login_bglogin.png) no-repeat; width: 572px; height: 252px; margin: 40px auto 0 auto; padding-top:60px; padding-left:145px;}
* html .login_bglogin { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="img/login_bglogin.png"); background: none; width: 572px; height: 252px; margin: 40px auto 0 auto; padding: 60px 14px 13px 160px; }
.login_login { padding: 20px 0 0 90px; color: #fff; }
.input1 { border: 1px #fff solid; background: none; height: 18px; line-height: 18px; font-size: 14px; color: #fff; }
