<?xml version="1.0" encoding="UTF-8"?>
<!--
	Application context definition for ...
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- ========== UMS客户端定义 先定义UMS协议===== -->
	<bean id="ums.field.Length" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="Length"/>
		<property name="length" value="5"/>
	</bean>
	<bean id="ums.field.TransType.checkpwd" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="TransType"/>
		<property name="length" value="4"/>
		<property name="defValue" value="1001"/>
	</bean>
	<bean id="ums.field.TransType.heartbeat" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="TransType"/>
		<property name="length" value="4"/>
		<property name="defValue" value="1003"/>
	</bean>
	<bean id="ums.field.TransType.sendsms" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="TransType"/>
		<property name="length" value="4"/>
		<property name="defValue" value="3011"/>
	</bean>
	<bean id="ums.field.TransType.sendRtusms" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="TransType"/>
		<property name="length" value="4"/>
		<property name="defValue" value="3002"/>
	</bean>
	<bean id="ums.field.TransType.retrieve" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="TransType"/>
		<property name="length" value="4"/>
		<property name="defValue" value="3012"/>
	</bean>
	<bean id="ums.field.TransType.retrieve.confirm" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="TransType"/>
		<property name="length" value="4"/>
		<property name="defValue" value="1005"/>
	</bean>
	
	<bean id="ums.field.SubType" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="SubType"/>
		<property name="length" value="2"/>
	</bean>
	<bean id="ums.field.SubType.send" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="SubType"/>
		<property name="length" value="2"/>
		<property name="defValue" value="01"/>
	</bean>
	<bean id="ums.field.AppId" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="AppId"/>
		<property name="length" value="12"/>
	</bean>
	<bean id="ums.field.Passwd" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="Passwd"/>
		<property name="length" value="20"/>
	</bean>
	
	<!-- ============= UMS通用应答（除收短信) =============== -->
	<bean id="ums.field.RetCode" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="RetCode"/>
		<property name="length" value="4"/>
	</bean>
	<bean id="ums.field.RetMsg" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="RetMsg"/>
		<property name="length" value="0"/>
	</bean>
	
	<!-- ============= UMS发送短信 =============== -->
	<bean id="ums.field.AppSerialNo" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="AppSerialNo"/>
		<property name="length" value="35"/>
	</bean>
	<bean id="ums.field.MsgId" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="MsgId"/>
		<property name="length" value="35"/>
	</bean>
	<bean id="ums.field.MessageType" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="MessageType"/>
		<property name="length" value="3"/>
		<property name="defValue" value="4"/>
	</bean>
	<bean id="ums.field.RecvId" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="RecvId"/>
		<property name="length" value="255"/>
	</bean>
	<bean id="ums.field.Ack" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="Ack"/>
		<property name="length" value="1"/>
		<property name="defValue" value="0"/>
	</bean>
	<bean id="ums.field.Reply" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="Reply"/>
		<property name="length" value="30"/>
	</bean>
	<bean id="ums.field.Priority" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="Priority"/>
		<property name="length" value="2"/>
		<property name="defValue" value="5"/>
	</bean>
	<bean id="ums.field.Rep" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="Rep"/>
		<property name="length" value="2"/>
		<property name="defValue" value="1"/>
	</bean>
	<bean id="ums.field.SubApp" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="SubApp"/>
		<property name="length" value="3"/>
	</bean>
	<bean id="ums.field.CheckFlag" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="CheckFlag"/>
		<property name="length" value="2"/>
		<property name="defValue" value="CF"/>
	</bean>
	<bean id="ums.field.Content" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="Content"/>
		<property name="length" value="0"/>
	</bean>
	<bean id="ums.field.RtuContent" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="RtuContent"/>
		<property name="length" value="280"/>
	</bean>

	<!-- ============= UMS接收短信 =============== -->
	<bean id="ums.field.BatchNO" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="BatchNO"/>
		<property name="length" value="14"/>
	</bean>
	<bean id="ums.field.SerialNo.retrieve" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="SerialNO"/>
		<property name="length" value="8"/>
	</bean>
	<bean id="ums.field.InfoType" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="InfoType"/>
		<property name="length" value="4"/>
	</bean>
	<bean id="ums.field.Receive" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="Receive"/>
		<property name="length" value="25"/>
	</bean>
	<bean id="ums.field.From" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="From"/>
		<property name="length" value="25"/>
	</bean>
	<bean id="ums.field.ReceiveDate" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="ReceiveDate"/>
		<property name="length" value="8"/>
	</bean>
	<bean id="ums.field.ReceiveTime" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="ReceiveTime"/>
		<property name="length" value="9"/>
	</bean>
	<bean id="ums.field.MsgType" class="com.hzjbbis.fk.fe.ums.protocol.UmsField">
		<property name="name" value="MsgType"/>
		<property name="length" value="3"/>
	</bean>

	<!-- ============= UMS协议管理 =============== -->
	<bean id="ums.command.base" abstract="true">
		<property name="checkPasswordFields">
			<list>
				<ref bean="ums.field.Length" />
				<ref bean="ums.field.TransType.checkpwd" />
				<ref bean="ums.field.SubType" />
				<ref bean="ums.field.AppId" />
				<ref bean="ums.field.Passwd" />
			</list>
		</property>
		
		<property name="heartBeatFields">
			<list>
				<ref bean="ums.field.Length" />
				<ref bean="ums.field.TransType.heartbeat" />
				<ref bean="ums.field.SubType.send" />
			</list>
		</property>
		
		<property name="sendSMSFields">
			<list>
				<ref bean="ums.field.Length" />
				<ref bean="ums.field.TransType.sendsms" />
				<ref bean="ums.field.SubType.send" />
				<ref bean="ums.field.AppId" />
				
				<ref bean="ums.field.AppSerialNo" />
				<ref bean="ums.field.MessageType" />
				<ref bean="ums.field.RecvId" />
				<ref bean="ums.field.Ack" />
				<ref bean="ums.field.Reply" />
				
				<ref bean="ums.field.Priority" />
				<ref bean="ums.field.Rep" />
				<ref bean="ums.field.SubApp" />
				<ref bean="ums.field.CheckFlag" />
				<ref bean="ums.field.Content" />
			</list>
		</property>

		<property name="sendRtuSMSFields">
			<list>
				<ref bean="ums.field.Length" />
				<ref bean="ums.field.TransType.sendRtusms" />
				<ref bean="ums.field.SubType.send" />
				<ref bean="ums.field.AppId" />
				
				<ref bean="ums.field.AppSerialNo" />
				<ref bean="ums.field.MessageType" />
				<ref bean="ums.field.RecvId" />
				<ref bean="ums.field.RtuContent" />		
				<ref bean="ums.field.Ack" />
				<ref bean="ums.field.Reply" />				
				<ref bean="ums.field.Priority" />
				<ref bean="ums.field.Rep" />
				<ref bean="ums.field.SubApp" />
			</list>
		</property>

		<property name="retrieveSMSFields">
			<list>
				<ref bean="ums.field.Length" />
				<ref bean="ums.field.TransType.retrieve" />
				<ref bean="ums.field.SubType" />
				<ref bean="ums.field.AppId" />
			</list>
		</property>
		
		<property name="smsReplyFields">
			<list>
				<ref bean="ums.field.Length" />
				<ref bean="ums.field.RetCode" />
				<ref bean="ums.field.SubType" />
				<ref bean="ums.field.BatchNO" />
				<ref bean="ums.field.SerialNo.retrieve" />
				<ref bean="ums.field.InfoType" />
				<ref bean="ums.field.MsgId" />
				<ref bean="ums.field.Ack" />
				<ref bean="ums.field.Receive" />
				<ref bean="ums.field.From" />
				<ref bean="ums.field.ReceiveDate" />
				<ref bean="ums.field.ReceiveTime" />
				<ref bean="ums.field.MsgType" />
				<ref bean="ums.field.Content" />
			</list>
		</property>

		<property name="smsConfirmFields">
			<list>
				<ref bean="ums.field.Length" />
				<ref bean="ums.field.TransType.retrieve.confirm" />
				<ref bean="ums.field.SubType" />
				<ref bean="ums.field.BatchNO" />
				<ref bean="ums.field.SerialNo.retrieve" />
			</list>
		</property>
		
		<property name="genReplyFields">
			<list>
				<ref bean="ums.field.Length" />
				<ref bean="ums.field.RetCode" />
				<ref bean="ums.field.RetMsg" />
			</list>
		</property>
	</bean>

	<!-- ========================= UMS通道的命令对象 ========================= -->
	<bean id="ums.protocol" class="com.hzjbbis.fk.fe.ums.protocol.UmsCommands"
		parent="ums.command.base">
	</bean>

</beans>
