@charset "utf-8";

/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
}


th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

ul {
    margin: 0;
    padding: 0;
}

ul,li {
    list-style-type: none;
}

	

img {
    border: 0;
}

.disNone {
    display: none;
}

.cb {
    clear: both;
}

.cle {
    font: 0px/ 0px sans-serif;
    clear: both;
    display: block;
}

.font1 {
    font-family: "宋体";
    color: #104f4f;
}

.font2 {
    font-family: "宋体";
    color: #333;
}

.font3 {
    font-family: "宋体";
    color: #474747;
}

.fontw {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.green {
    color: #0c6051;
}

.green1 {
    color: #104f4f;
}

.red {
    color: #b50000;
}

/*padding margin text-align line-height*/
.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pad5 {
    padding: 5px;
}

.pad10 {
    padding: 10px;
}

.pad15 {
    padding: 15px;
}

.pad20 {
    padding: 20px;
}

.pad25 {
    padding: 25px;
}

.pad30 {
    padding: 30px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.lh15 {
    line-height: 15px;
}

.lh16 {
    line-height: 16px;
}

.lh17 {
    line-height: 17px;
}

.lh18 {
    line-height: 18px;
}

.lh19 {
    line-height: 19px;
}

.lh20 {
    line-height: 20px;
}

.lh25 {
    line-height: 25px;
}

.lh30 {
    line-height: 30px;
}

.mgt5 {
    margin-top: 5px;
}

.mgt10 {
    margin-top: 10px;
}

.mgt15 {
    margin-top: 15px;
}

.mgt20 {
    margin-top: 20px;
}

.mgt25 {
    margin-top: 25px;
}

.mgt30 {
    margin-top: 30px;
}

.mgt50 {
    margin-top: 50px;
}

.mgl10 {
    margin-left: 10px;
}