<?xml version="1.0" encoding="UTF-8"?>
<!--
	Application context definition for ...
-->
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:sec="http://cxf.apache.org/configuration/security"
  xmlns:http="http://cxf.apache.org/transports/http/configuration"
  xmlns:httpj="http://cxf.apache.org/transports/http-jetty/configuration"
  xmlns:jaxws="http://java.sun.com/xml/ns/jaxws"
  xsi:schemaLocation="http://cxf.apache.org/configuration/security
  		      http://cxf.apache.org/schemas/configuration/security.xsd
            http://cxf.apache.org/transports/http/configuration
            http://cxf.apache.org/schemas/configuration/http-conf.xsd
            http://cxf.apache.org/transports/http-jetty/configuration
            http://cxf.apache.org/schemas/configuration/http-jetty.xsd
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<import resource="classpath:META-INF/cxf/cxf-extension-http-jetty.xml" />
  <httpj:engine-factory bus="cxf">
    <httpj:engine port="9001">
      <httpj:threadingParameters minThreads="1"
                                 maxThreads="5" />
      <httpj:connector>
        <beans:bean class="org.mortbay.jetty.bio.SocketConnector">
           <beans:property name = "port" value="9001" />
        </beans:bean>
      </httpj:connector>
      <httpj:handlers>
        <beans:bean class="org.mortbay.jetty.handler.DefaultHandler"/>
      </httpj:handlers>
      <httpj:sessionSupport>true</httpj:sessionSupport>
    </httpj:engine>
  </httpj:engine-factory>
 </beans>